{% load static %}

<link rel="stylesheet" href="{% static 'css/navbar.css'%}">

<header class='navbar'>
    <img class="navbar-brand logo-image img-fluid" src="https://e7.pngegg.com/pngimages/541/228/png-clipart-bald-eagle-head-logo-logo-mascot-company-eagle-hawk-miscellaneous-sport.png" alt="Hawk logo"/>
    <a  class='navbar__title navbar__item'>HawkEye</a>
    <a class='navbar__item' >Match History</a>
    <a class='navbar__item' >Statistics</a>
    <a class='navbar__item' >Team Info</a>   
</header>

